.hero {
  margin-top: 60px;
  height: auto;
  position: relative;
  border: 4px solid;
  border-image: linear-gradient(to bottom, #ff8c0060, transparent);
  border-image-width: 0 0 0 2px;
  border-image-slice: 1;
}
.button {
  padding: 7px 20px;
  border: none;
  border-radius: 100px;
  transition: padding 1s ease;
}

.button:hover {
  padding: 9px 25px;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.09;
  z-index: -1;
}
