.invicible {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #ffffff70;
}

.menu {
  position: absolute;
  right: 10px;
  top: -500px;
  transition: top 0.5s ease;
}

.menu > svg {
  width: 40px;
  height: 40px;
  fill: var(--color-p1);
  background-color: white;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  right: -5px;
}
.menu > a {
  display: block;
  padding: 5px;
  width: 100px;
  line-height: 2;
}
